/* Give your page a fun background color */
body{
    background-color: #8da4dd;
    color: #ffffff;
    font-family: monospace;
  }

  img{
    border-radius: 25%;
    border: 5px solid #555;
    margin: 20px;
  }
/* Make the header and footer a different color from the background */
header {
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #dddddd;
    border-bottom: 0.5px solid #dddddd;
    background-color: #516286
  }

footer {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    border-top: 1px solid #dddddd;
    border-bottom: 0.5px solid #dddddd;
    background-color: #c1dce8
  }
  div p {
    color: #555;
  }

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */